PORT=5000
MONGO_URI=mongodb+srv://<user>:<password>@cluster0.2hbkzqd.mongodb.net/amazigh_store
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRE=7d
CLIENT_URL=https://pfa-amazigh.vercel.app
API_URL=https://pfa-amazigh-backend.vercel.app
